EmployeeManagementAPIUIClientWinForm/Connected Services/EmployeeManagementAPIUIClient/EmployeeManagementWebAPIUIService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ASM.EmployeeManagement.DataAccess.Model.WebAPI.GetUserInfoList" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ASM.EmployeeManagement.DataAccess.Model.WebAPI.GetUserInfoList" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserInfoList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserInfoList" nillable="true" type="tns:UserInfoList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserInfoList" nillable="true" type="tns:ArrayOfUserInfoList" />
  <xs:complexType name="UserInfoList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" type="xs:short" />
      <xs:element minOccurs="0" name="JobStartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MaritalStatus" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="PhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfoList" nillable="true" type="tns:UserInfoList" />
</xs:schema>