EmployeeManagementAPIUIClientWinForm/Connected Services/EmployeeManagementAPIUIClient/EmployeeManagementWebAPIUIService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/V1.0.0" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/V1.0.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/V1.0.0/Imports">
      <xsd:import schemaLocation="http://localhost/EmployeeManagementWebAPIUI/EmployeeManagementWebAPIUIService.svc?xsd=xsd0" namespace="http://tempuri.org/V1.0.0" />
      <xsd:import schemaLocation="http://localhost/EmployeeManagementWebAPIUI/EmployeeManagementWebAPIUIService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/EmployeeManagementWebAPIUI/EmployeeManagementWebAPIUIService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ASM.EmployeeManagement.WebAPIUI.Model.Common.Request" />
      <xsd:import schemaLocation="http://localhost/EmployeeManagementWebAPIUI/EmployeeManagementWebAPIUIService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ASM.EmployeeManagement.WebAPIUI.Model.Common" />
      <xsd:import schemaLocation="http://localhost/EmployeeManagementWebAPIUI/EmployeeManagementWebAPIUIService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ASM.EmployeeManagement.WebAPIUI.Model.GetUserInfo.Response" />
      <xsd:import schemaLocation="http://localhost/EmployeeManagementWebAPIUI/EmployeeManagementWebAPIUIService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ASM.EmployeeManagement.WebAPIUI.Model.Common.Response" />
      <xsd:import schemaLocation="http://localhost/EmployeeManagementWebAPIUI/EmployeeManagementWebAPIUIService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/ASM.EmployeeManagement.DataAccess.Common.Paging" />
      <xsd:import schemaLocation="http://localhost/EmployeeManagementWebAPIUI/EmployeeManagementWebAPIUIService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/ASM.EmployeeManagement.DataAccess.Common.FilterInfo" />
      <xsd:import schemaLocation="http://localhost/EmployeeManagementWebAPIUI/EmployeeManagementWebAPIUIService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/ASM.EmployeeManagement.WebAPIUI.Model.GetUserInfoList.Response" />
      <xsd:import schemaLocation="http://localhost/EmployeeManagementWebAPIUI/EmployeeManagementWebAPIUIService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/ASM.EmployeeManagement.DataAccess.Model.WebAPI.GetUserInfoList" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeeManagementWebAPIUIService_GetUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="IEmployeeManagementWebAPIUIService_GetUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeManagementWebAPIUIService_GetUserInfoList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoList" />
  </wsdl:message>
  <wsdl:message name="IEmployeeManagementWebAPIUIService_GetUserInfoList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoListResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeManagementWebAPIUIService">
    <wsdl:operation name="GetUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/V1.0.0/IEmployeeManagementWebAPIUIService/GetUserInfo" message="tns:IEmployeeManagementWebAPIUIService_GetUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/V1.0.0/IEmployeeManagementWebAPIUIService/GetUserInfoResponse" message="tns:IEmployeeManagementWebAPIUIService_GetUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfoList">
      <wsdl:input wsaw:Action="http://tempuri.org/V1.0.0/IEmployeeManagementWebAPIUIService/GetUserInfoList" message="tns:IEmployeeManagementWebAPIUIService_GetUserInfoList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/V1.0.0/IEmployeeManagementWebAPIUIService/GetUserInfoListResponse" message="tns:IEmployeeManagementWebAPIUIService_GetUserInfoList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>