EmployeeManagementAPIUIClientWinForm/Connected Services/EmployeeManagementAPIUIClient/EmployeeManagementWebAPIUIService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ASM.EmployeeManagement.DataAccess.Common.Paging" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ASM.EmployeeManagement.DataAccess.Common.Paging" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Paging">
    <xs:sequence>
      <xs:element minOccurs="0" name="Num" type="xs:int" />
      <xs:element minOccurs="0" name="SortKey" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SortOrder" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StartIndex" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Paging" nillable="true" type="tns:Paging" />
</xs:schema>