EmployeeManagementAPIUIClientWinForm/Connected Services/EmployeeManagementAPIUIClient/EmployeeManagementWebAPIUIService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ASM.EmployeeManagement.WebAPIUI.Model.GetUserInfo.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ASM.EmployeeManagement.WebAPIUI.Model.GetUserInfo.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/EmployeeManagementWebAPIUI/EmployeeManagementWebAPIUIService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ASM.EmployeeManagement.WebAPIUI.Model.Common.Response" />
  <xs:complexType name="ResGetUserInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/ASM.EmployeeManagement.WebAPIUI.Model.Common.Response" base="q1:ResultBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="UserDetailInfo" nillable="true" type="tns:UserDetailInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResGetUserInfo" nillable="true" type="tns:ResGetUserInfo" />
  <xs:complexType name="UserDetailInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" type="xs:short" />
      <xs:element minOccurs="0" name="DateOfBirth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobStartDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaritalStatus" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDetailInfo" nillable="true" type="tns:UserDetailInfo" />
</xs:schema>